<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BakersConnectionString" connectionString="Data Source=John-pc;Initial Catalog=Bakers;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Exceptionkey" value="1"/>
    <add key="Sql" value="Data Source=JOHN-PC;Initial Catalog=Bakers;Integrated Security=True"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>  
</configuration>